body {
    font-family: Arial;
    background: #ffecec;
    text-align: center;
}

header {
    background: #c62828;
    padding: 15px;
    color: white;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

button {
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

input, select, textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

.donor {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}
